[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cx-freeze = "==6.2"

[packages]
numpy = "==1.19.0"
pyqt5 = "==5.15.0"
pyqtgraph = "==0.11.0"
requests = "==2.24.0"

[requires]
python_version = "3.8"
